* {
        margin: 0;
}
header {
        background: #676ac7;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        padding: 40px;
}
main {
        padding: 40px;
}
input {
        border: none;
        padding-bottom: 8px;
        border-bottom: #afafaf 2px solid;
}
input::placeholder {
        color: #8a8a8a;
        font-weight: bold;
}
input:focus {
        outline: none;
}
.album {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
}
img {
        width: 22%;
}
@media (max-width: 767.98px) {
        .album {
                flex-direction: column;
        }
        img {
                width: 100%;
                padding-bottom: 40px;
        }
}
